/* hero text */
.hero__wrap h1{
  color: whitesmoke;
  font-family: sans-serif;
  position:relative;
  top: 10px;
  left: 30%;
  font-size: 9vh;
}
/* hero logo */
.application-title img {
  position: relative;
  bottom: 50px;
  left: 3%;
  height: 40vh;
  /* width: 500px; */

}
html {
  font-size: 18px;
  background-color: #242f3b;
  color: black;
}

body {
  background-color: lightsteelblue;
}

* {
  box-sizing: border-box;
}
.row {
  margin-top: 100px;
}
/* targets each section of content */
section {
  margin-top: 2%;
  display: grid;
  grid-template-columns: auto auto;
  background-color: #357dcf;
  border-radius: 3%;
  margin-right: 2%;
  margin-left: 2%;
}
/* all paragraphs???? */
.RSB_para {
  font-family: sans-serif;
  font-size: 25px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
  text-align: center;
  padding-bottom: 5%;
  
}
/* paragraph for tesla */
.deck_para {
  font-family: sans-serif;
  font-size: 25px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 19%;
  text-align: center;
}
/* titles in the TAX and Air */
.RSB {
  padding-top: 0;
  text-align: center;
  /* justify-content: center; */
}
/* title for TESLA */
.Decks {
  margin: 0;
  text-align: center;
}
/* targets each column */
.column {
  position:relative;
  float: left;
  width: 50%;
  
  
}
/* Targets photo in Air pollution */
.rail-1 {
  position: relative;
  left: 5%;
  bottom: 3px;
  height: 60vh;
  width: 100%;
  border-radius: 20px;
}
/* targets Tesla photo */
.rail-2 {
  position: absolute;
  right: 10%;
  height: 45vh;
  border-radius: 6px;
}

@media (max-width: 980px) {
  .logo_rsb {
    display: none;
  }

  .header-content {
    top: 50%;
    left: 50%;
  }
}
@media (max-width: 450px) {
  .header-content {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .hero__wrap {
    background-position: -50px;
  }
}

/* hero */
.hero__wrap {
  height: 90vh;
  width: 100%;
  margin-bottom: 5%;
  /* width: 50%; */
  background-image: url("./img/wooooohero.png");
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1114px) {
  .column {
    width: 100% !important;
  }
}
/* img for map */
.map-img {
  height: 35vh;
  width: 40vh;
  border-radius: 20px;
}
/* air pollution img */
.pollution-img {
  height: 35vh;
  width: 40vh;

  border-radius: 20px;
}

/* targets car money */
.modern-img {
  height: 35vh;
  width: 40vh;
  border-radius: 20px;
}

/* tesla img */
.tesla-img {
  height: 35vh;
  width: 40vh;
  border-radius: 20px;
}

.btn-clickMe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}



/* Grid boxes */

.grid-Container {
  text-align: center;
  background-color: lightsteelblue;
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  grid-gap: 35px;
  position: center;
}

/*contact page */
.ctr input {
  /* margin-left: -70em; */
  width: 200px;
  height: 50px;
}
.ctr {
  display: block;
  text-align: center;
  border-radius: 10px;
}
.ctr form {
  margin-top: 5em;
}
.ctr label {
  margin-left: 5em;
  padding: 2em;
  color: black;
}
form {
  width: 900px;
  border: 10px solid black;
  display: inline-block;
}

/* Making it Responsisve @Media  */

@media only screen and (max-width: 400px) {
  .grid-Container {
    grid-template-columns: repeat(1, 12fr);
  }

  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
  }
}
